<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 도메인 클래스에 별명 부여하기 -->
    <typeAliases>
        <package name="com.project.noteking.web.*.domain"/>
    </typeAliases>

    <mappers>
        <mapper resource="mapper/BoardMapper.xml"/>
    </mappers>
</configuration>