<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.noteking.web.member.repository.MemberRepository">

    <insert id="insertMember" parameterType="MemberDto">
        INSERT INTO tb_user
        (
         name
         , nick_name
         , email
         , password
        )
        VALUES
        (
        #{name}
        , #{nickName}
        , #{email}
        , md5(#{password})
        )
    </insert>

</mapper>
